<p id="toptitle">The Cosmic Calculator</p>
<div id="calculator">
	<div id="total">
	0
	</div>
	<div class="operatorok">
		<a class="operators" href="#">+</a>
		<a class="operators" href="#">-</a>
		<a class="operators" href="#">/</a>
		<a class="operators" href="#">X</a>
		<a class="operators" id="negyzet" href="#">c<sup>2</sup></a>
		<a class="operators" href="#">%</a>
	</div>
	<div class="szamok">
		<a class="numbers" href="#">1</a>
		<a class="numbers"href="#">2</a>
		<a class="numbers"href="#">3</a>
		<a class="numbers"href="#">4</a>
		<a class="numbers"href="#">5</a>
		<a class="numbers"href="#">6</a>
		<a class="numbers"href="#">7</a>
		<a class="numbers"href="#">8</a>
		<a class="numbers"href="#">9</a>
		<a class="numbers" id="clear" href="#">C</a>
		<a class="numbers" href="#">0</a>
		<a class="numbers" id="clearall" href="#">AC</a>
	</div>
	<div class="operatorok">
		<a class="operators" id="egyenlo" href="#">=</a>
	</div>
</div>
<p id="bottomtitle">v 1.0</p>